html {
    font-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.default-settings {
    background-image: url(./images/sandpaper.png);
}

.flex-box {
    display: flex;
}

.lateral-information {
    position: sticky;
    top: 0;
    width: 35%;
    justify-content: center;
    height: 100vh;
}

.dentro-informacoes {
    width: 75%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 6px 2px #767d81;
}

.default-settings .dentro-informacoes {
    background-image: url(./images/menu-background.png);
}

.logo-pet {
    width: 70%;
    border-radius: 100%;
    margin-bottom: 30px;
    border: 2px solid #C04F50;
}

.default-settings .logo-pet {
    background-image: url(./images/sandpaper.png);
}

.informacoes-baixo {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.default-settings .botao-info {
    background-image: url(./images/sandpaper.png);
}

.botao-info {
    width: 80%;
    margin: 10px;
    font-family: 'Bebas Neue', cursive;
    border: 5px solid #C04F50;
    color: #C04F50;
    padding: 15px;
    text-decoration: none;
    font-size: 2.7rem;
    text-shadow: 2px 2px #373c3f;
    text-align: center;
}

.botao-info:hover {
    border: 5px solid #5bbee6;
    color: #5bbee6;
    cursor: pointer;
}

.lista-cursos {
    list-style-type: none;
}

.elemento-curso {
    flex-direction: column;
}

.menu-cursos {
    width: 65%;
    padding: 0 12vmin;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.imagem-cursos {
    margin: 30px;
    max-width: 100%;
}

.box-texto-curso {
    background-image: url(./images/hip-square.png);
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border: 2px solid #C04F50;
    border-bottom: none;
    text-align: center;
}

.titulo-curso {
    font-family: 'Bebas Neue', cursive;
    color: #C04F50;
    font-size: 48px;
    text-shadow: 2px 2px #373c3f;
}

.texto-curso {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

.botao-curso {
    background-color: #5bbee6;
    font-family: 'Bebas Neue', cursive;
    border: 2px solid #C04F50;
    border-top: none;
    color: #373c3f;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 45px;
    font-weight:bold;
    text-shadow: 2px 2px #e1e2e2;
    margin-bottom: 20px;
}

.botao-curso:hover {
    cursor: pointer;
    background-color: #C04F50;
}

.stroke-text{
    font-family: 'Bebas Neue', cursive;
    font-size: 6vh;
    text-align: center;
    text-anchor: middle;
    fill: none;
}

.stroke-text.fill {
    fill:#5bbee6;
}
  
.thick{
    stroke-width:1px;
    stroke: black;
    transform: translate(-0.4vh, 0);
}

.project {
    width: 60vw;
    padding: 5rem 1rem;
}

.project-info {
    margin: 0 0 1.5rem 0;
}

.bold-font {
    font-weight: bold;
}

.project-info h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    color: #5bbee6;
    text-shadow: 2px 2px #373c3f;
    margin-bottom: 4rem;
}


.botao-info p {
    width: 100%;
}

.permanent-project {
    color: #5bbee6;
}

.default-settings.redirect {
    margin: 10vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.default-settings.redirect h1 {
    font-size: 6vmin;
    margin-bottom: 2vmin;
}

.default-settings.redirect p {
    font-size: 3vmin;
    margin-bottom: 4vmin;
}

.default-settings.redirect a {
    padding: 1rem;
    border-radius: 0.5rem;
    color: #e1e2e2;
    background-color: #C04F50;
    text-decoration: none;
}

@media only screen and (max-width: 1450px) {
    .logo-pet {
        width: 60%;
    }

    .botao-info {
        font-size: 1.5rem;
        padding: 10px;
    }
}

@media only screen and (max-width: 1100px) {
    .default-settings {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .lateral-information{
        position: relative;
        width: 100%;
    }

    .dentro-informacoes {
        width: 100%;
    }

    .menu-cursos {
        width: 95%;
        padding: 0;
    }

    .botao-info{
        font-size: 2rem;
    }

    .logo-pet {
        width: 50%;
    }

    .project {
        width: 90vw;
        padding: 3rem 1rem;
    }

    .project-info h1 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
}