/* Importando as fontes */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    font-size: 1.2rem;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  /* Classes Úteis */
  
.container {
    max-width: 80%;
    margin: auto;
}
  
.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bold {
    font-weight: bold;
}
  
/* Conteúdo */
  
.home-title {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding-bottom: 1rem;
    color: #C04F50;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.content-bg {
    background-image: url(./images/sandpaper.png);
    padding: 1rem 0;
}
  
/* Header */
  
#header {
    background: #619AA7;
}
  
#header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
}

#courses {
    margin-top: 2rem;
}
  
/* Navbar */
  
#navbar {
    background: #C04F50;
    overflow: auto;
    width: 100%;
    z-index: 1;
}
  
#navbar a {
    color: #FAFAFA;
    font-family: Source Code Pro;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding: 20px;
}
  
#navbar a:hover {
    background: #C46567;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.sticky + .project-page {
    padding-top: 100px;
}

/* Footer */
  
#footer {
    background: #C04F50;
    font-family: Roboto;
    padding: 2rem;
}
  
#footer .container {
    justify-content: space-between;
}
  
#footer h3 {
    color: #121212;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    mix-blend-mode: soft-light;
}

#footer h4 {
    font-size: 1.2rem;
}
  
#footer h4, p {
    color: #FAFAFA;
    padding-bottom: 0.5rem;
}
  
#footer #social-media a {
    color: #121212;
    mix-blend-mode: soft-light;
    font-size: 2.5rem;
}

/* Páginas dos Projetos */
.project-page {
    font-family: Source Code Pro;
    font-size: 1rem;
}

.project-header {
    justify-content: flex-start;
    align-items: flex-end;
    color: #C04F50;
}

.project-header h2 {
    font-family: Comfortaa;
    font-size: 6rem;
    margin: 1rem 0 0 1rem;
}

.project-header h3 {
    font-size: 1.5rem;
    margin: 0 0 1rem 1rem;
}

.project-logo {
    display: grid;
    align-items: center;
}

.project-logo img {
    grid-area: 1 / 1;
    margin: auto;
}

.project-logo input {
    grid-area: 1 / 1;
    margin: auto;
}

.project-img{
    height: 29vh;
}

.hexagon-img{
    height: 45vh;
}

.project-content h4, .project-content a {
    text-align: justify;
    margin-top: 0.75rem;
}

.project-description {
    margin: 1.25rem 0;
    text-align: justify;
}

.project-content h4 {
    font-size: 1rem;
    font-weight: normal;
}

.project-content .red {
    color: #C04F50;
}

.project-content p {
    color: #121212;
    padding-bottom: 0.5rem;
}

.project-content li {
    list-style: none;
}

.project-content a {
    text-decoration: none;
    font-weight: bold;
    color: #C04F50;
}

.project-content a:hover {
    text-decoration: underline;
    color: #C46567;
}

/* Tab Menu */
.tab-menu{
    display: none;
    flex-direction: row;
}

.tab {
    background-color: #f1f1f1;
    width: 35%;
    height: auto;
}

.tab button {
    display: block;
    background-color: inherit;
    color: #121212;
    font-weight: bold;
    padding: 22px 16px;
    width: 100%;
    border: none;
    border-right: 3px solid #999;
    border-radius: 0;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    color: #C04F50;
    background-color: #ddd;
}

.tab button.active {
    color: #C04F50;
    border-right: 3px solid #C04F50;
}

.tabcontent {
    background-color: #f1f1f1;
    padding: 1rem;
    width: 65%;
    height: auto;
    display: none;
}

.tab-img-text p {
    text-align: justify;
}

/* Hexagonos */
  
.hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    font-family: Source Code Pro;
    font-size: 15px;
    list-style-type: none;
}
    
.hex {
    position: relative;
    visibility:hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
  
.hex::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
    
.hexIn{
    position: absolute;
    width:96%;
    padding-bottom: 110.851%; /* =  width / sin(60) */
    margin:0 2%;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
    
.hexIn * {
    background: #77c1d1;
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
  
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FAFAFA;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}
        
/*** HEX CONTENT ***/
.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    padding: 20%;
    margin: 0 auto;
    -webkit-transform: rotate3d(0,0,0,0deg);
    -ms-transform: rotate3d(0,0,0,0deg);
    transform: rotate3d(0,0,0,0deg);
}

.hex h3, .hex p {
    width: 100%;
    padding: 5%;
    box-sizing:border-box;
    background-color: #77c1d1;
    font-weight: 300;
    -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
    transition:          transform .2s ease-out, opacity .3s ease-out;
}
  
.hex h3 {
    bottom: 50%;
    padding-top:50%;
    font-size: 1.5em;
    z-index: 1;
    -webkit-transform:translate3d(0,-100%,0);
    -ms-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
}
  
.hex h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid #FAFAFA;
}

.hex p {
    top: 50%;
    padding-bottom:50%;
    -webkit-transform:translate3d(0,100%,0);
    -ms-transform:translate3d(0,100%,0);
    transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  ***/
.hexLink:hover h3, .hexLink:focus h3,
.hexLink:hover p, .hexLink:focus p{
    -webkit-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}
  
  /*** RESPONSIVIDADE ***/
@media (min-width:901px) { /* <- 4-3  hexagons per row */
    .hexGrid{
        padding-bottom: 5.5%
    }
    .hex {
        width: 25%; /* = 100 / 4 */
    }
    .hex:nth-child(7n+5){ /* first hexagon of even rows */
        margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 960px){
    .project-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .project-header h2 {
        font-family: Comfortaa;
        font-size: 3rem;
        margin: 1rem 0 0 0rem;
    }
    
    .project-header h3 {
        font-size: 1.5rem;
        margin: 0 0 1rem 0rem;
    }
    
    #footer {
        padding: 2rem 1rem;
    }
    
    #footer .container {
        flex-direction: column;
        text-align: center;
    }

    #social-media.container {
        flex-direction: row;
    }

    #footer h4 {
        padding-top: 0.5rem;
    }

    #footer #social-media a {
        color: #12121266;
        font-size: 2rem;
    }
    
    #footer #social-media a:last-child {
        letter-spacing: 0;
    }

    .button-tab-menu {
        display: none;
    }

    .tab-menu {
        display: none;
    }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
    .hexGrid{
        padding-bottom: 7.4%
    }
    .hex {
      width: 33.333%; /* = 100 / 3 */
    }
    .hex:nth-child(5n+4){ /* first hexagon of even rows */
        margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
    .hexGrid{
      padding-bottom: 11.2%
    }
    .hex {
        width: 50%; /* = 100 / 3 */
    }
    .hex:nth-child(3n+3){ /* first hexagon of even rows */
        margin-left:25%;  /* = width of .hex / 2  to indent even rows */
    }
    
    .flex {
        flex-direction: column;
        align-items: center;
    }
    
    .flex #social-media {
        flex-direction: row;
    }
}

@media (max-width: 400px) {
    .hexGrid {
        font-size: 13px;
    }
}
